
<tr class="item">
    <% var item;%>
    <td class="item-id"><%= item._id.slice(0, 8)%></td>
    <td class="item-name"><%= item.name%></td>
    <td class="item-received"><%= item.received%></td>
    <td class="item-onhand"><%= item.on_hand%></td>
    <td class="item-required"><%= item.minimum_required%></td>
</tr>
